$color-black01: #050505;
$color-black02: #1f1f1f;
$color-black03: #2d2d2d;
$color-black04: #3a3a3a;
$color-grey01: #757575;
$color-grey02: #e9e9e9;
$color-grey03: #f4f4f4;
$color-white: #ffffff;
$color-purple: #a445ed;
$color-red01: #ff5252;

$font-family01: 'Inter', sans-serif;
$font-family02: 'Inter', serif;
$font-family03: 'Incosolata', monospace;

$font-size-heading-l: 64px;
$line-height-heading-l: 77px;
$font-size-heading-m: 24px;
$line-height-heading-m: 29px;
$font-size-heading-s: 20px;
$line-height-heading-s: 24px;
$font-size-body-m: 18px;
$line-height-body-m: 24px;
$font-size-body-s: 14px;
$line-height-body-s: 17px;
