:root {
  --bg-color: #{variables.$color-white};
  --text-color: #{variables.$color-black03};
  --font-family: #{variables.$font-family-01};
  --shadow-color: #{rgba(black, 0.1)};
  --bg-input: #{variables.$color-grey03};
  --bg-dropdown: #{variables.$color-white};
}
[data-theme='light'] {
  --bg-color: #{variables.$color-white};
  --text-color: #{variables.$color-black03};
  --shadow-color: #{rgba(black, 0.1)};
  --bg-input: #{variables.$color-grey03};
  --bg-dropdown: #{variables.$color-white};
  --placehold-input: #{rgba(variables.$color-black03, 0.25)};
  --shadow-popup: 0 5px 30px rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --bg-color: #{variables.$color-black01};
  --text-color: #{variables.$color-white};
  --shadow-color: #{rgba(black, 0.1)};
  --bg-input: #{variables.$color-black02};
  --bg-dropdown: #{variables.$color-black02};
  --placehold-input: #{rgba(variables.$color-white, 0.25)};
  --shadow-popup: 0 5px 30px #{variables.$color-purple};
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}
